<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="VibeR8r-prototype" src="{{ "/assets/img/viber8r.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Pulser - UCSD HC4H</h3>
    <p> Our goal is to enhance the efficacy of the alarm system & To lessen the burden of practitioners in hospitals
    </p>
    <ul>
      <li>The current alarm system <b>leads to alarm fatigue</b></li>
      <li>The current alarm system <b>alerts everyone</b> in the hospital, instead of only those that need to be notified</li>
      <li>The current alarm system <b>cannot track the response</b> to the alarm</li>
    </ul>
    <a class="project-link" href="https://hc4h.appma.kr/">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="EMSTrack" src="{{ "/assets/img/EMSTrack-min.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> EMS Track - Cruz Roja </h3>
    <p>Our mission is to partner with health organizations to help residents of underserved communities worldwide make better use of their resources in emergency medical situations by providing them with an enhanced infrastructure that can track, dispatch, and visualize resources in real time on a map.</p>      
    <ul>
      <li> Python</li>
      <li>Django</li>
      <li>Android Studio</li>
    </ul>
    <a class="project-link" href="https://github.com/EMSTrack">Github</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="Rescuecam-prototype" src="{{ "/assets/img/rescuecam-prototype.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Rescue Camera - Cruz Roja </h3>
    <p>Mission: to design a search and rescue camera to find people trapped inside collapsed structures. This camera will be used by urban search and rescue technicians in case of earthquake, collapsed buildings, mudslides.</p>
    <ul>
      <li>Raspberry Pi</li>
      <li>Linux</li>
      <li>IoT</li>
    </ul>
    <a class="project-link" href="https://github.com/sungwookson/RescueCamera">Github</a>
    <a class="project-link" href="https://docs.google.com/document/d/1vdmKafg33WUVsOyEG5Pra1uuoiFO8LCDPPO1OBE7xpo/edit?usp=sharing">Project Report</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="SLAM Reconstrucion" src="{{ "/assets/img/slam.gif" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> 3D Reconstrucion - Google Tango </h3>
    <p></p>  
    <ul>
      <li>SLAM</li>
      <li>Android</li>
      <li>Google Tango</li>
      <li>Embedded Systems</li>
    </ul>
    
    <a class="project-link" href="https://docs.google.com/document/d/e/2PACX-1vQmmCAU5erjWcUcJM1bzcTXwLHJjn_-7QOgp58kjN5XbCSIgpkjuHBTW7lH_DxOAvW_QwTkwO2jXpeB/pub">Site</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="App Development" src="{{ "/assets/img/appdev.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> App Developments </h3>
    <p></p>  
    <a class="project-link" href="https://about.appma.kr">Site</a>
  </div>
</div>

<!--
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Project Title </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
-->
